.header {
    position: sticky;
}

.flex {
    display: flex;
}

.navbar {
    padding: 0px 8%;
    background-color: rgb(54, 110, 184);
}

.logo {
    width: 10%;
    padding: 10px;
}

.logo img {
    width: 100%;
}

.menu {
    width: 90%;
}
.menu ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #dddd;
}

.menu i {
    margin-right: 5px;
    font-size: 18px;
}

.search-box {
    padding: 10px 8%;
    background-color: rgb(224, 224, 224);
}

.search-box h4 {
    color: blue;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
}

.search-box form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-search {
    width: 15%;
}

.group-select {
    width: 70%;
}

.content {
    flex-direction: row;
    padding: 0px 8%;
}

.list-post {
    width: 70%;
}

.side-bar {
    width: 30%;
}

.post-item {
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.img-post {
    width: 30%;
    padding: 10px;
}

.img-post img {
    width: 100%;
}

.post-content {
    width: 70%;
    flex-direction: column;
    padding: 20px;
}

.post-title {
    justify-content: space-between;
    flex-direction: row;
}

.post-info {
    justify-content: space-between;
}

.footer {
    margin-top: 20px;
    padding: 20px 8%;
    background-color: rgb(54, 110, 184);
    color: white;
    justify-content: space-between;
}

.footer-item {
    padding: 0px 20px;
    width: 25%;
    flex-direction: column;
}

.footer-item h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

.footer-item a:hover {
    color: #ddd;
}

.logo-footer {
    margin-bottom: 20px;
    padding: 0px 20%;
}

.logo-footer img {
    width: 100%;
}
